
@media only screen and (min-width: 768px){

/**
 * Login / New user / Guest
 */
.mod_iso_xcheckout #login_newuser_guest_login {
	display: block;
	float: left;
	width: 45%;
	margin-right: 5%;
}
.mod_iso_xcheckout #login_newuser_guest_newuser,
.mod_iso_xcheckout #login_newuser_guest_guest {
	float: right;
	width: 45%;
}

/**
 * Authorize dot net card
 */
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard,
.mod_iso_xcheckout .authNetAimPaymentForm .backOfCard {
	float: left;
	margin-right: 0px;
	margin-left: 0px;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard {
	width: 50%;
	max-width: 50%;
    box-shadow: 3px 0px 15px #333;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardExp .field .widget {
	width: 40%;
}
.mod_iso_xcheckout .authNetAimPaymentForm .backOfCard {
	left: -20px;
	width: 25%;
	max-width: 25%;
}
.mod_iso_xcheckout .authNetAimPaymentForm .backOfCard .cardCode {
	margin-right: 20px;
	margin-left: 40px;
}

}
