
@media only screen and (min-width:320px) {

/**
 * General
 */
.mod_iso_xcheckout {
	display: block;
}
.mod_iso_xcheckout form {
	display: block;
	clear: both;
	margin-top: 20px;
}
.mod_iso_xcheckout h2 {
	display: block;
	font-size: 24px;
	color: #494949;
	border-bottom: 1px solid #494949;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
.mod_iso_xcheckout h2 + p {
	display: block;
	color: #494949;
	margin-bottom: 20px;
}
.mod_iso_xcheckout input.text {
	border: 1px solid silver;
	padding: 7px;
	font-size: 16px;
	color: #494949;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.mod_iso_xcheckout label {
	color: #494949;
}

/**
 * Steps
 */
.mod_iso_xcheckout .steps ol,
.mod_iso_xcheckout .steps ul {
	display: block;
	list-style-type: none;
}
.mod_iso_xcheckout .steps li {
	float: left;
	display: inline-block;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.mod_iso_xcheckout .steps2 li {
	width: 49.9%;
}
.mod_iso_xcheckout .steps3 li {
	width: 33.3%;
}
.mod_iso_xcheckout .steps4 li {
	width: 24.9%;
}

/**
 * Login / New user / Guest
 */
.mod_iso_xcheckout #iso_mod_checkout_login_newuser_guest input.submit.next {
	display: none;
}
.mod_iso_xcheckout #login_newuser_guest_newuser,
.mod_iso_xcheckout #login_newuser_guest_guest {
	display: block;
	height: 200px;
}
.mod_iso_xcheckout #login_newuser_guest_newuser input.submit,
.mod_iso_xcheckout #login_newuser_guest_guest input.submit {
	display: block;
	height: 50px;
	width: 100%;
}

/**
 * Billing address
 */
.mod_iso_xcheckout .billingaddress {
	
}

/**
 * Shipping address
 */
.mod_iso_xcheckout .shippingaddress {
	
}

/**
 * Shipping method
 */
.mod_iso_xcheckout .shippingmethod {
	
}
.mod_iso_xcheckout .shippingmethod .radio_container > span {
	display: block;
}

/**
 * Payment method
 */
.mod_iso_xcheckout .paymentmethod .paymentForm {
	display: none;
}

/**
 * Spinner
 */
.mod_iso_xcheckout #spinner {
	background: url('../img/ajax-loader2.gif') center center no-repeat;
	height: 64px;
	width: 64px;
}

/**
 * Authorize dot net card
 */
.mod_iso_xcheckout .authNetAimPaymentForm {
	
}
.mod_iso_xcheckout .authNetAimPaymentForm label {
	text-transform: uppercase;
	position: relative;
	top: -5px;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard,
.mod_iso_xcheckout .authNetAimPaymentForm .backOfCard {
	display: block;
	width: 100%;
	height: 300px;
	max-width: 450px;
	margin-right: auto;
	margin-left: auto;
	background-color: #e9e8ed;
	position: relative;
	border: 1px solid #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard {
    z-index: 10;
	padding: 20px;
    box-shadow: 0px 3px 15px #333;
}
.mod_iso_xcheckout .authNetAimPaymentForm .widget label,
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardTypeLabel,
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard select[name=x_card_type] {
	display: none;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardTypes {
	height: 50px;
	text-align: right;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardType {
	height: 50px;
	width: 50px;
	display: inline-block;
	margin-left: 5px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardType.cardType_M {
	background-image: url('../img/cclogos/mc-030.png');
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardType.cardType_V {
	background-image: url('../img/cclogos/visa-030.png');
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardType.cardType_D {
	background-image: url('../img/cclogos/disc-030.png');
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardType.cardType_A {
	background-image: url('../img/cclogos/amex-030.png');
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardNumber {
	clear: both;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardNumber,
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardExp,
.mod_iso_xcheckout .authNetAimPaymentForm .backOfCard .cardCode {
	margin-top: 30px;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardExp > label {
	display: inline-block;
	width: 25%;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardExp .field {
	display: inline-block;
	width: 75%;
	text-align: right;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardExp .field > * {
	display: inline-block;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardExp .field .widget {
	width: 35%;
}
.mod_iso_xcheckout .authNetAimPaymentForm .frontOfCard .cardExp .field span.slash {
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	top: -5px;
	display: inline-block;
}
.mod_iso_xcheckout .authNetAimPaymentForm .backOfCard {
    box-shadow: 1px 0px 2px #888;
}
.mod_iso_xcheckout .authNetAimPaymentForm .backOfCard .cardStrip {
	width: 100%;
	height: 50px;
	background-color: #333;
	margin-top: 20px;
	position: relative;
	right: -2px;
}
.mod_iso_xcheckout .authNetAimPaymentForm .backOfCard .cardCode {
	margin-right: 20px;
	margin-left: 20px;
}

/**
 * Buttons
 */
.mod_iso_xcheckout .submit_container {
	clear: both;
}

}
